html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
}

.a-main {
  text-align: justify;
}

.about {
  background-image: url('../img/bg_yellow.jpg');
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  min-height: 100vh;
}

.about__flex {
  display:flex;
  min-height: 100vh;
  align-items: center;
}

.about__flex-item {
  padding: 0 100px;
}

.about__header {

}

.about__hello {
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  padding: 0 0 48px 0;
}

.about__introduction {
  font-size: 42px;
  text-align: center;
  padding: 0 0 48px 0;
}

.about__links {
  padding: 48px 0 0 164px;
}

.about__links-item {
  text-decoration: none;
  padding: 48px 32px 0 0;
  color:rgb(83, 164, 218);
  font-weight: 700;
  font-size: 24px;
}

.about__photo {
  max-width: 360px;
  border-radius: 100%;
}

.about__text {
  padding: 0 64px;
}

.articles {
  background-image: url('../img/bg_green.jpg');
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  min-height: 100vh;
}

.articles__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 64px;
}

.articles__title, .hobby__title {
  text-align: center;
  font-size: 78px;
  padding: 32px 0;
}

.articles__article-title, .hobby__article-title {
  font-size:32px;
}

.articles__text {

}

.articles__section {
  padding: 0 40px;
}

.big-main-grid {
  display: grid;
  grid-template-columns: 1fr;

}

.header-top {
  background: rgba(255, 51, 0, 0.829);
}

.hobby {
  background-image: url('../img/bg_blue.jpg');
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  min-height: 100vh;
}

.hobby__box {
  padding: 0 40px;
  text-align: center;
}

.hobby__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
}

.hobby__photo {
  max-width: 200px;
  border-radius: 100%;
}

.hobby__text {
  text-align: justify;
}

/* footer done */
.footer {
 background: black;
 color: white;
 text-align: center;
 padding: 40px;
}

.footer__link {
  color:rgb(205, 232, 255);
  text-decoration: none;
}

.footer__title {
  text-transform: uppercase;
  letter-spacing: 4px;
}
/* footer done */

.navigation {
  margin: 0;
  padding: 20px 0;
}

.navigation__item {
  padding: 0 20px;
  font-size: 24px;
}

.navigation__link {
  text-decoration: none;
  color: white;
}

.navigation__list {
  list-style: none;
  display: flex;
  justify-content: center;
}


@media (max-width: 640px) {

}

@media (min-width: 2560px) and (max-width: 3071px) {

}

@media (min-width: 3072px) {

}