html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
}

.a-main {
  text-align: justify;
}

.about {
  background-image: url('../img/bg_yellow.jpg');
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  min-height: 92vh;
}

.about__flex {
  display:flex;
  align-items: center;
  padding: 160px 0;
}

.about__flex-item {
  padding: 0 100px;
}

.about__hello {
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  padding: 0 0 48px 0;
}

.about__introduction {
  font-size: 42px;
  text-align: center;
  padding: 0 0 48px 0;
}

.about__links, .navigation {
  padding: 0;
}

.about__links-item, .navigation__link {
  text-decoration: none;
  padding: 0 32px 0 0;
  color:rgb(239, 248, 255);
  font-weight: 700;
  font-size: 24px;
}

.about__links-section-flex {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

.about__photo {
  max-width: 360px;
  border-radius: 100%;
}

.articles {
  background-image: url('../img/bg_green.jpg');
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  min-height: 100vh;
}

.articles__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 64px;
  padding: 0 0 160px 0;
}

.articles__title, .hobby__title {
  text-align: center;
  font-size: 78px;
  padding: 32px 0;
}

.articles__article-title, .hobby__article-title {
  font-size:32px;
}

.articles__section {
  padding: 0 40px;
}

.big-main-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.header-top {
  background: rgba(0, 127, 230, 0.911);
  height: 8vh;
}

.hobby {
  background-image: url('../img/bg_blue.jpg');
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  min-height: 100vh;
}

.hobby__box {
  padding: 0 40px;
  text-align: center;
}

.hobby__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
}

.hobby__photo {
  max-width: 200px;
  border-radius: 100%;
}

.hobby__text {
  text-align: justify;
}

.footer {
 background: black;
 color: white;
 text-align: center;
 padding: 40px;
}

.footer__link {
  color:rgb(205, 232, 255);
  text-decoration: none;
}

.footer__title {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.navigation__list {
  list-style: none;
  display: flex;
  margin: 0;
}

@media (max-width: 640) {

}

@media (min-width: 641px) and (max-width: 1152) {

}

@media (min-width: 2560px) and (max-width: 3071px) {

}

@media (min-width: 3072px) {
  .about__flex {
    max-width: 55vw;
    margin: auto;
    padding: 200px 0 100px 0;
  }

  .about__text, .hobby__text, .articles__text
  {
    font-size: 32px;
    line-height: 70px
  }

  .hobby__grid {
    grid-template-columns: 1fr;
    max-width: 55vw;
    margin: auto;
    padding: 0 0 100px 0;
  }

  .articles__grid {
    grid-template-columns: 1fr 1fr;
    max-width: 55vw;
    margin: auto;
  }
}