html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url('../img/bg.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center top;
  min-height: 100vh;
  background-size:cover;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
  font-size: 20px;
}

.about {
  background: #c3e6ffe3;
  padding: 20px 14px;
  border-radius: 10px;
  margin: 50px 0;
  position: relative;
  overflow: hidden;
}

.about__header {
  color: #0067b1;
}

.about__photo {
  width: 100%;
  max-width: 250px;
  height: 200px;
  margin: 0 20px 0 10px;
  display: block;
  float: left;
  border-radius: 5px;
}

.about__text {
  padding: 10px 15px 0 15px;
  border-radius: 5px;
}

.about__text--color {
  color: rgb(58, 58, 58);
}

.about__box-a {
  width: 180px;
  height: 100px;
  background: rgba(140, 0, 255, 0.432);
  border: 10px solid rgb(255, 0, 0);
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 329px;
  left: 500px;
  color: white;
  z-index: 90;
}

.about__box-b {
  width: 180px;
  height: 100px;
  background: rgb(0, 195, 255);
  border: 10px solid rgb(0, 255, 42);
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 359px;
  left: 530px;
  color: white;
}

.article {
  max-width: 400px;
  background: rgb(198, 223, 231);
  padding: 40px;
  margin: 0 0 20px 0;
}

.article__title, .article__description, .article__footer {
  margin: 20px 30px;
}

.article__cover {
  background: white;
  position: relative;
}

.article__image {
  width: 100%;
  height: 230px;
}

.article__date {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgb(255, 123, 0);
  color: white;
  border-radius: 100%;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 15px 0 0 0;
  margin: 0;
  box-sizing: border-box;
}

.article__category {
  position: absolute;
  top: 175px;
  left: 0;
  background: rgb(255, 123, 0);
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.article__link {
  text-decoration: none;
  color: black;
}

.article__description {
  color: rgb(255, 123, 0);
  font-size: 18px;
}

.article__footer {
  padding: 0 0 20px 0;
  color: grey;
}

.article__reading-time, .article__comments-counter {
  float: left;
  margin: 0 30px 0 0;
}

.articles {
  background: #b6e1ffe3;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  clear: both;
}

.articles__header {
  color: #005491;
}

.articles__inner-article-title {
  color: #007ad1;
  padding: 0 20px;
}

.articles__text {
  padding: 0 40px;
}

.hobby, .plan, .dictionary, .table {
  padding: 0 0 0 15px;
}

.hobby__list {
  list-style: none;
  padding: 0 0 0 15px;
}

.main-footer {
  background: #bfe3fc;
  padding: 10px 0 5px 0;
  text-align: center;
}

.main-footer__text {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.main-footer__link {
  position: fixed;
  bottom: 30px;
  right: 70px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  width: 140px;
  background: #005591da;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.main-footer__link:hover {
  background: #36abffd5;
}

.navigation__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 50vw;
  margin: auto;
  padding: 0;
}

.navigation__item {
}

.navigation__link {
  text-decoration: none;
  color: #004f52;
}

.page {
  background: rgb(153,245,255);
  background: linear-gradient(163deg, rgba(153,245,255,0.4458158263305322) 0%, rgba(137,208,255,0.4458158263305322) 31%, rgba(93,205,255,0.4514180672268907) 65%, rgba(67,255,240,0.4514180672268907) 100%);
  border: 1px solid black;
  text-align: justify;
  margin: 80px auto;
  max-width: 900px;
  border-radius: 8px;
  padding: 5px 20px;
}

.page__main-header {
  color: #003A64;
  background:rgb(197, 241, 255);
  text-align: center;
  margin: 50px 0;
  border-radius: 5px;
  padding: 10px 0;
}

.page__inner-link {
  text-decoration: none;
  color: #004f52;
}

.page__photo {
  width: 250px;
  height: 150px;
}

.site-header {
  position: fixed;
  width: 100%;
  top: 10px;
  box-sizing: border-box;
  padding: 20px;
  background: rgb(193, 227, 255);
  margin: 0;
  z-index: 100;
}

.table__contents {
  width: 100%;
}