body {
  background: #f1fbff;
  text-align: justify;
}

.mainHeader {
  color: #003A64;
}

.sectionHeader {
  color: #005491;
}

.diaryHeader {
  color: #0067b1;
}

.smallHeader {
  color: #007ad1;
}

.text {
  background: #d9f0ff;
}

.footerText {
  background: #bfe3fc;
}

.authorPhoto {
  width: 320px;
  height: 220px;
}

.picture {
  width: 200px;
  height: 200px;
}

.weekPhoto {
  width: 250px;
  height: 150px;
}

.mainLink {
  text-decoration: none;
  color: #004f52;
}